CONFIG_PACKAGE_adguardhome=m

CONFIG_PACKAGE_knot=m
CONFIG_PACKAGE_knot-nsupdate=m
CONFIG_PACKAGE_knot-resolver=m
# CONFIG_PACKAGE_knot-resolver_dnstap is not set

CONFIG_PACKAGE_pdns=m
CONFIG_PACKAGE_pdns-recursor=m

CONFIG_PACKAGE_iperf3=m

CONFIG_PACKAGE_openssl-util=m
CONFIG_PACKAGE_libwolfssl-benchmark=m
