CONFIG_PACKAGE_adguardhome=m

CONFIG_PACKAGE_luci-app-nextdns=m

# CONFIG_PACKAGE_luci-app-smartdns is not set

CONFIG_luci-app-mosdns=m

CONFIG_PACKAGE_knot=m
CONFIG_PACKAGE_knot-nsupdate=m
CONFIG_PACKAGE_knot-resolver=m
# CONFIG_PACKAGE_knot-resolver_dnstap is not set

CONFIG_PACKAGE_pdns=m
CONFIG_PACKAGE_pdns-recursor=m
CONFIG_PACKAGE_pdns-backend-geoip=m

CONFIG_PACKAGE_iperf3=m

CONFIG_PACKAGE_openssl-util=m
CONFIG_PACKAGE_libwolfssl-benchmark=m

CONFIG_PACKAGE_hwclock=m
CONFIG_PACKAGE_hwinfo=m

CONFIG_luci-app-olsr=m

CONFIG_PACKAGE_coremark=m
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=4
CONFIG_COREMARK_THREADS_NUMBER=4
CONFIG_COREMARK_DATA_SIZE=5000
