CONFIG_PACKAGE_coreutils-sort=y
CONFIG_PACKAGE_kmod-nft-queue=y
CONFIG_PACKAGE_netcat=y

CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_libcurl=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_NGHTTP3=y
CONFIG_LIBCURL_NGTCP2=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_UNIX_SOCKETS=y
CONFIG_LIBCURL_WOLFSSL=y


# Other

CONFIG_PACKAGE_kmod-inet-diag=y

CONFIG_PACKAGE_luci-app-v2raya=y

CONFIG_PACKAGE_v2ray-core=y
CONFIG_PACKAGE_v2ray-geoip=y
CONFIG_PACKAGE_v2ray-geosite=y
CONFIG_PACKAGE_v2ray-extra=y

CONFIG_PACKAGE_xray-core=y

CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-tproxy=y

# ngtcp2 fail:
CONFIG_PACKAGE_luci-app-shadowsocks-libev=y
CONFIG_PACKAGE_shadowsocks-libev-config=y
CONFIG_PACKAGE_shadowsocks-libev-ss-local=y
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=y
_CONFIG_PACKAGE_shadowsocks-libev-ss-rules=y
# _CONFIG_PACKAGE_shadowsocks-libev-ss-server=y
CONFIG_PACKAGE_shadowsocks-libev-ss-tunnel=y

CONFIG_PACKAGE_obfs4proxy=y

# CONFIG_PACKAGE_snowflake-broker is not set
CONFIG_PACKAGE_snowflake-client=y
CONFIG_PACKAGE_snowflake-probetest=y
# CONFIG_PACKAGE_snowflake-server is not set
CONFIG_PACKAGE_luci-app-tor=y
CONFIG_PACKAGE_tor-geoip=y

CONFIG_PACKAGE_bird2c=y

CONFIG_PACKAGE_luci-app-pbr=y

CONFIG_PACKAGE_luci-app-softether=y
CONFIG_PACKAGE_luci-app-libreswan=y
CONFIG_PACKAGE_luci-app-mwan3=y

CONFIG_PACKAGE_iptgeoip=y
CONFIG_PACKAGE_geoipupdate=y

CONFIG_PACKAGE_luci-proto-wireguard=y

CONFIG_PACKAGE_sing-box=y
# CONFIG_SINGBOX_WITH_ACME is not set
CONFIG_SINGBOX_WITH_CLASH_API=y
# CONFIG_SINGBOX_WITH_DHCP is not set
CONFIG_SINGBOX_WITH_ECH=y
# CONFIG_SINGBOX_WITH_EMBEDDED_TOR is not set
# CONFIG_SINGBOX_WITH_GRPC is not set
CONFIG_SINGBOX_WITH_GVISOR=y
CONFIG_SINGBOX_WITH_QUIC=y
CONFIG_SINGBOX_WITH_REALITY_SERVER=y
CONFIG_SINGBOX_WITH_UTLS=y
CONFIG_SINGBOX_WITH_V2RAY_API=y
CONFIG_SINGBOX_WITH_WIREGUARD=y

CONFIG_PACKAGE_luci-app-passwall2=y

# CONFIG_PACKAGE_luci-app-passwall2_Iptables_Transparent_Proxy is not set
CONFIG_PACKAGE_luci-app-passwall2_Nftables_Transparent_Proxy=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Haproxy=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Hysteria=y
# CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_NaiveProxy is not set
# ngtcp2 fail:
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Libev_Client=y
# CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Libev_Server is not set
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Rust_Client=y
# CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Rust_Server is not set
# ngtcp2 fail:
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_ShadowsocksR_Libev_Client=y
# CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_ShadowsocksR_Libev_Server is not set

# ngtcp2 fail:
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Simple_Obfs=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_SingBox=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_tuic_client=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_V2ray_Plugin=y

CONFIG_PACKAGE_kmod-amneziawg=y
CONFIG_PACKAGE_luci-app-amneziawg=y
CONFIG_PACKAGE_amneziawg-tools=y

CONFIG_PACKAGE_luci-app-ruantiblock=y

CONFIG_PACKAGE_luci-app-zapret=y
CONFIG_PACKAGE_zapret-mdig=y
CONFIG_PACKAGE_zapret-ip2net=y