CONFIG_FEED_sqm_scripts_nss=y
# CONFIG_NSS_DRV_L2TP_ENABLE is not set
# CONFIG_NSS_DRV_TUNIPIP6_ENABLE is not set
CONFIG_PACKAGE_kmod-nss-ifb=y
CONFIG_PACKAGE_kmod-qca-nss-cfi-cryptoapi=y
CONFIG_PACKAGE_kmod-qca-nss-crypto=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-clmapmgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-dtlsmgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-eogremgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-gre is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-igs is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-ipsecmgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2 is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-map-t is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-netlink is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-portifmgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-pptp is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-profile is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-pvxlanmgr is not set
CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-tun6rd is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-tunipip6 is not set
# CONFIG_PACKAGE_kmod-qca-nss-ecm-noload is not set
# CONFIG_PACKAGE_kmod-qca-nss-ecm-premium is not set
# CONFIG_PACKAGE_kmod-qca-nss-ecm-premium-noload is not set
CONFIG_PACKAGE_kmod-qca-nss-ecm-standard=y
CONFIG_PACKAGE_kmod-qca-nss-gmac=y
CONFIG_NSS_DRV_CLMAP_ENABLE=y
CONFIG_NSS_DRV_DTLS_ENABLE=y
CONFIG_NSS_DRV_GRE_ENABLE=y
CONFIG_NSS_DRV_GRE_REDIR_ENABLE=y
# CONFIG_NSS_DRV_GRE_TUNNEL_ENABLE is not set
CONFIG_NSS_DRV_IPSEC_ENABLE=y
CONFIG_NSS_DRV_LAG_ENABLE=y
CONFIG_NSS_DRV_MAPT_ENABLE=y
CONFIG_NSS_DRV_PORTID_ENABLE=y
CONFIG_NSS_DRV_PVXLAN_ENABLE=y
CONFIG_NSS_DRV_TSTAMP_ENABLE=y
CONFIG_PACKAGE_sqm-scripts-nss=y